.shoppingbasket {
    position: sticky;
    width: 344px;
    height: 100vh;
    background-color: white;
    top: 0px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.delivery {
    display: flex;
    border: 1px solid;
    border-radius: 22px;
    color: black;
    height: 45px;
    align-items: center;
    width: 75%;
    justify-content: space-between;
    background-color: rgb(245 245 245);
    cursor: pointer;
    margin-top: 20px;
}

.delivery span {
    font-size: 10px;
}

.delivery h6 {
    margin: 0;
}

.deliveryselection1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-radius: 22px;
    color: black;
    background-color: white;
    width: 50%;
    height: 100%;
    justify-content: center;
}

.deliveryselection2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    width: 50%;
    height: 98%;
    justify-content: center;
}

.delivery :hover :active {
    background-color: rgb(217 217 217);
    border-radius: 22px;
}

.products {
    margin-top: 30px;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    gap: 10px;
}

.basketproduct {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;

}


.productsdescription {
    margin-top: 5px;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.addproduct {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 94%;
    justify-content: space-evenly;
}

.addproduct svg {
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.priceinfo {
    margin-top: 40px;
    display: flex;
    margin-top: 40px;
    width: 94%;
    justify-content: space-between;
}

.priceinfodescription {
    display: flex;
    flex-direction: column;
}

.pricecalculation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.checkoutsum {
    background-color: #2196F3;
    height: 50px;
    width: 94%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 36px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 15px;
}