@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: bold;
    font-weight: 700;
    src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

html,
body {
    margin: 0;
    margin-top: 10px;
    font-family: "Roboto";
    font-style: normal;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 82px;
}

footer {
    height: 200px;
    background-color: gray;
}

.separator {
    background-color: black;
    height: 1px;
}

.logo img {
    height: 50px;
    margin-left: 10px;
    cursor: pointer;
}

.rightmenu {
    display: flex;
    height: 24px;
    justify-content: space-evenly;
    gap: 40px;
    margin-right: 10px;
    cursor: pointer;
}

.contentbox {
    display: flex;
}

.content {
    width: 75%;
    background-color: rgb(252, 252, 252);
    height: 2000px;
}

.shoppingbasket {
    position: sticky;
    width: 25%;
    height: 100vh;
    background-color: white;
    top: 0px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.delivery {
    display: flex;
    border: 1px solid;
    border-radius: 22px;
    color: black;
    height: 40px;
    align-items: center;
    width: 75%;
    justify-content: space-between;
    background-color: rgb(236, 234, 234);
    cursor: pointer;
}

.delivery span {
    font-size: 10px;
}

.delivery h4 {
    margin: 0;
}

.deliveryselection1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-radius: 22px;
    color: black;
    background-color: white;
    width: 50%;
    height: 94%;
    justify-content: center;
}

.deliveryselection2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    width: 50%;
    height: 94%;
    justify-content: center;
}

.contentimage img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.company {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}

.company img {
    height: 28px;
}

.menus {
    display: flex;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
    gap: 30px;
    margin-left: 20px;
    margin-right: 20px;
    height: 50px;
}

.favorite {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    padding: 2px;
    border-radius: 15px;
    padding-left: 12px;
    padding-right: 10px;
}

.favorite img {
    height: 20px;
    padding-left: 5px;
}

.favorite2 {
    display: flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 10px;
}

.favorite2 img {
    height: 26px;
    padding-left: 5px;
}

.foodcontent {
    border: 1px solid;
    border-radius: 10px;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
}