@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: bold;
    font-weight: 700;
    src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

html,
body {
    margin: 0;
    margin-top: 10px;
    font-family: "Roboto";
    font-style: normal;
    width: 100%;
}

h6 {
    padding-top: 10px;
}

.logo img {
    height: 50px;
    margin-left: 10px;
    cursor: pointer;
}

.rightmenu {
    display: flex;
    height: 24px;
    justify-content: space-evenly;
    gap: 40px;
    margin-right: 10px;
    cursor: pointer;
}

.contentbox {
    display: flex;
}

.content {
    width: 100%;
    background-color: rgb(244, 244, 244);
    height: 2000px;
    max-width: calc(100% - 344px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentimage {
    width: 100%;
}

.contentimage img {
    height: 320px;
    width: 100%;
    object-fit: cover;
}

.companysection {
    width: 100%;
}

.selectionbox {
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    align-items: center;
}

.company {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 63%;
}

.company img {
    height: 28px;
    cursor: pointer;
}

.menus {
    display: flex;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
    gap: 30px;
    margin-left: 20px;
    margin-right: 20px;
    height: 50px;
    width: 63%;
}

.favorite {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    padding: 2px;
    border-radius: 15px;
    padding-left: 12px;
    padding-right: 10px;
}

.favorite img {
    height: 20px;
    padding-left: 5px;
}

.favorite2 {
    display: flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 10px;
    margin-top: 10px;
    width: 65%;
}

.favorite2 img {
    height: 26px;
    padding-left: 5px;
}

.foodcontent {
    border: 1px solid;
    border-radius: 10px;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    width: 65%;
}

.foodcontent span {
    font-size: 14px;
    color: #6c757d;
}

.foodselectionbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.dialog-bg {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-sizing: border-box;
    color: rgb(36, 46, 48);
    background-color: rgb(236, 234, 234);
    display: flex;
    flex-direction: column;
    height: 769px;
    line-height: 20px;
    /* margin-bottom: 40px; */
    max-height: calc(100% - 160px);
    max-width: 600px;
    min-height: 196px;
    opacity: 1;
    position: relative;
    text-rendering: optimizelegibility;
    /* top: 80px;
    /* transform: matrix(1, 0, 0, 1, 0, 0);
    transition-behavior: normal, normal, normal;
    transition-delay: 0s, 0s, 0s;
    transition-duration: 0.25s, 0.25s, 0.25s;
    transition-property: transform, opacity, transform;
    transition-timing-function: cubic-bezier(0.45, 0, 0.55, 1), cubic-bezier(0.45, 0, 0.55, 1), cubic-bezier(0.45, 0, 0.55, 1); */
    width: 600px;
    z-index: 4006;

}

.dialog button {
    position: absolute;
    top: 15px;
    right: 2%;
    width: 50px;
}

.dialog h1 {
    margin-top: 0px;
}

.d_none {
    display: none;
}

.ingredientselection {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
    height: 700px;
    overflow: auto;
}

.ingredientsbox {
    height: 700px;
    overflow: auto;
}

.ingredientselection span {
    padding-top: 20px;
}

.custom-select {
    margin-bottom: 30px;
}

.custom-select select {
    width: 94%;
    border-radius: 10px;
    padding-left: 10px;
    margin-top: 10px;
    height: 40px;
}

/* The container */
.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 20px;
}

/* Hide the browser's default checkbox */
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 22px;
    background-color: #ffffff;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.dialogfootercontent {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.trash {
    height: 16px;
    width: 16px;
    cursor: pointer;
}